$done-color: grey;

.todoTasks {
  text-align: center;
  color: #3a7be0;
}

.done {
  color: $done-color;
  text-decoration: line-through;
}

.tasksNb {
  font-size: 1.8em;
  font-weight: bold;
  margin-right: 1rem;
}

h5 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
